/* General navbar styling */
.navbar {
  background-color: #1d3d60;
  padding: 20px 0px;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 1000;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
}

.navbar-container {
  display: flex;
  justify-content: space-between !important;
  align-items: center;
  width: 100%;
}

.navbar-logo{
  color: #fff;
  font-size: 1.7rem;
  margin-left: 20px;
  text-decoration: none;
  font-weight: 700;
}

.navbar-links ul {
  list-style-type: none;
  display: flex;
  margin: 0;
  padding: 0;
  margin-left: 100px;
}

.navbar-links ul li {
  margin: 0 15px;
}

.navbar-links ul li a {
  color: #fff !important;
  text-decoration: none;
  font-size: 1rem;
  padding: 10px;
  display: block;
  transition: color 0.3s ease;
  border-radius: 5px;
}

.navbar-links ul li a:hover {
  color: #2ecc71 !important;
}

.navbar-user {
  display: flex;
  align-items: center;
}

.login-btn {
  background-color: #2ecc71;
  color: white;
  width: 120px;
  padding: 10px 20px;
  margin-right: 20px;
  border: none;
  border-radius: 30px;
  font-size: 0.9rem;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.login-btn:hover {
  background-color: #27ae60;
}

.user-info {
  display: flex;
  align-items: center;
  margin-right: 20px;
}

.user-avatar img {
  width: 35px;
  height: 35px;
  border-radius: 50%;
  cursor: pointer;
}

.navbar-toggle {
  display: none;
  cursor: pointer;
}

.bar {
  display: block;
  width: 25px;
  height: 3px;
  margin: 5px auto;
  background-color: white;
  transition: 0.3s;
}

/* Mobile responsiveness */
@media screen and (max-width: 768px) {
  .navbar-links {
    position: absolute;
    top: 60px;
    left: 0;
    width: 100%;
    background-color: #333;
    display: none;
    flex-direction: column;
    align-items: center;
    padding: 20px 0;
    border-radius: 5px;
  }

  .navbar-links.active {
    display: flex;
  }

  .navbar-links ul {
    display: flex;
    flex-direction: column;
    width: 100%;
  }

  .navbar-links ul li {
    margin: 10px 0;
  }

  .navbar-toggle {
    display: block;
  }

  .navbar-user {
    display: none;
  }
}

@media screen and (max-width: 480px) {
  .navbar-logo a {
    font-size: 1.5rem;
  }

  .navbar-links ul li a {
    font-size: 1.1rem;
  }
}
.nav-head {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}